<div class="col-lg-12">
  <h1 class="page-header">MODULO LIMPEZA DE VIAS</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Ocorrência</h4>
    </div>


    <div class="panel-body">
      <div class="row">
        <div class="col-lg-5">

          <div class="col-lg-12">
            <h5><b>Nome do supervisor:</b></h5>
            <%= @evidence.supervisor.name %>
          </div>

          <div class="col-lg-6">
            <br>
            <h5><b>Data da ocorrência:</b></h5>
            <%= I18n.l @evidence.created_at.localtime, :format => :with_day_of_week, :locale => 'pt-BR' %>
          </div>

          <div class="col-lg-6">
            <br>
            <h5><b>Endereço:</b></h5>
            <%= @evidence.full_address %>
          </div>

          <div class="col-lg-12">
            <br>
            <h5><b>Descrição:</b></h5>
            <%= @evidence.description %>
          </div>

        </div>

        <div class="col-lg-7">
          <h5><b>Imagem:</b></h5>
          <%= image_tag @evidence.images.first.variant(resize: "800x600"), class: 'border-whitesmoke' if @evidence.images.attached? %>
        </div>
      </div>
    </div>
  </div>
</div>
