<%= form_for [:backoffice, @route] do |f| %>

  <h1 class="title-page"></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Gerenciar rotas</h4>
    </div>


    <div class="panel-body">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', required: true %><br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', required: true %>
          </div>
        </div>

        <br><h5><b>Endereços: </b></h5>
        <div id="address">
          <%= f.fields_for :address do |address_fields| %>
            <%= render partial: 'address_fields', locals: {f: address_fields} %>
          <% end %>


          <div class="col-lg-6 p-0" hidden>
            <%= link_to_add_association f, :address, class: 'btn btn-outline btn-success' do %>
              <i class="fa fa-plus-square fa-fw"></i> Adicionar Bairro
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="maps" id="map_to_daily_collect"></div>
      </div>
    </div>
  </div>

  <%= button_tag 'Salvar', class: 'btn btn-success btn-lg' %>
  <%= link_to 'Voltar', backoffice_routes_path, class: 'btn btn-default btn-lg' %>
<% end %>

<% if @route.persisted? %>
  <% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
      var locations = []
      <% @route.address.pluck(:latitude, :longitude).each do |location| %>
        locations.push(<%= raw location %>);
      <% end %>

      document.addEventListener("DOMContentLoaded", function() {
        buildRoute();
        showDailyCollectInMap(locations);
        listenerRemoveAddressReplyOnMap();
      });
    </script>
  <% end %>

<% else %>
  <% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        initWaypoits();
        buildRoute();
        listenerRemoveAddressReplyOnMap();
      });
    </script>
  <% end %>
<% end %>
