<div class="col-lg-12">
  <h1 class="page-header">MODULO CAMINHONEIRO</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Agenda de <%= @schedule.user.name %> - <b><%= I18n.l @schedule.work_day, :format => :long, :locale => 'pt-BR' %></b>
        <div class="pull-right" style="margin-top: -5px">
          <%= form_for [:backoffice, @schedule] do |f| %>
            <%= f.hidden_field :full_schedule, value: true %>
            <%= f.submit 'Tornar agenda cheia!', class: 'btn btn-outline btn-warning' %>
          <% end %>
        </div>
      </h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form">
            <div class="form-group">
              <p class="form-control-static">
                <label>Status da agenda: </label> <span> <%= t("activerecord.models.schedules.full_schedule.#{@schedule.full_schedule}")%> </span>
              </p>
              <p><b><%= @schedule.collects_scheduled_to_trucker %></b> coletas agendadas até o momento</p>
            </div>

            <br />
            <div class="form_group">
              <h4>Coletas pendentes de confirmação</h4>
              <ul>
                <% @collects.proposed_date.each do |collect| %>
                  <li>
                    <p class="form-control-static">
                      <label>Nome do solicitante: </label> <span> <%=  collect.client.name %></span>
                    </p>

                    <p class="form-control-static">
                      <label>Endereço da coleta: </label> <span> <%= address_formatted(collect.client.address.first) %></span>
                    </p>
                  </li>
                <% end %>
              </ul>

              <h4>Coletas aprovadas</h4>
              <ul>
                <% @collects.confirmed.each do |collect| %>
                  <li>
                    <p class="form-control-static">
                      <label>Nome do solicitante: </label> <span> <%=  collect.client.name %></span>
                    </p>

                    <p class="form-control-static">
                      <label>Endereço da coleta: </label> <span> <%= address_formatted(collect.client.address.first) %></span>
                    </p>
                  </li>
                <% end %>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
