<div class="col-lg-12">
  <h1 class="page-header">MODULO LIMPEZA DE VIAS</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Evidencias</h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Número de protocolo</th>
              <th>Supervisor</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Endereço</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody id="simple_evidence">
            <% @evidences.each do |evidence| %>
              <tr>
                <td><%= evidence.protocol_number %></td>
                <td><%= evidence.supervisor.name %></td>
                <td><%= evidence.description %></td>
                <td><%= I18n.l evidence.created_at.localtime, :format => :with_day_of_week, :locale => 'pt-BR' %></td>
                <td><%= evidence.full_address %></td>
                <td>
                  <div class="pull-right">
                    <%= link_to backoffice_evidences_simple_evidence_path(evidence), class: 'btn btn-outline btn-info' do %>
                      <i class="fa fa-search-plus"></i> Detalhes
                    <% end %>
                    <%= link_to edit_backoffice_evidences_simple_evidence_path(evidence), class: 'btn btn-outline btn-warning' do %>
                      <i class="fa fa-edit"></i> Editar
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
