<div class="col-lg-12">
  <h1 class="page-header"></h1>

 <div class="panel panel-default panel-table-custom">
    <div class="panel-heading">
      <p class="page-header">Contratos</p>
      <h4>
        <%= link_to new_backoffice_contract_path, class: 'btn btn-success pull-right', style:"margin-top: -5px" do %>
          <i class="fa fa-plus-circle fa-fw"></i> Cadastrar
        <% end %>
      </h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>

          <tbody>
            <% @contracts.each do |contract| %>
              <tr>
                <td><%= contract.name %></td>
                <td>
                  <div class="btn-group">
                    <a class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown">
                      ...
                    </a>
                    <ul class="dropdown-menu dropdown-black">
                      <div>
                        <%= link_to backoffice_contract_path(contract) do %>
                          <i class="fa fa-search-plus"></i> Detalhes
                        <% end %>
                      </div>
                      <div>
                        <%= link_to edit_backoffice_contract_path(contract) do %>
                          <i class="fa fa-edit"></i> Editar
                        <% end %>
                      </div>
                      <div>
                        <%= link_to backoffice_contract_path(contract), method: :delete, data: { confirm: 'Ao confirmar esta operação será perdido definitivamente o contrato. Tem certeza que deseja fazer isto?' } do %>
                          <i class="fa fa-trash-o"></i> Deletar
                        <% end %>
                      </div>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
