<% unless notice.nil? %>
  <div class="alert alert-success">
    <a href="#" class="alert-link"><%= notice %></a>
  </div>
<% end %>
<br/>

<div class="col-lg-12">
  <h1 class="page-header">MODULO INVENTÁRIO</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Aterros
        <%= link_to new_backoffice_landfill_path, class: 'btn btn-outline btn-success pull-right', style:"margin-top: -5px" do %>
          <i class="fa fa-plus-square fa-fw"></i> Cadastrar
        <% end %>
      </h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Rua</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>País</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @landfills.each do |landfill| %>
              <tr>
                <td><%= landfill.name %></td>
                <td><%= landfill.address.street %></td>
                <td><%= landfill.address.district %></td>
                <td><%= landfill.address.city %></td>
                <td><%= landfill.address.state %></td>
                <td><%= landfill.address.country %></td>
                <td>
                  <div class="pull-right">
                    <%= link_to edit_backoffice_landfill_path(landfill), class: 'btn btn-outline btn-warning' do %>
                      <i class="fa fa-edit"></i> Editar
                    <% end %>

                    <%= link_to backoffice_landfill_path(landfill), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Tem certeza que deseja fazer isto?' } do %>
                        <i class="fa fa-times"></i> Deletar
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
