<div class="col-lg-12">
  <h1 class="page-header"></h1>

 <div class="panel panel-default panel-table-custom">
    <div class="panel-heading">
      <p class="page-header">Coleta de lixo diária</p>
      <h4>
        <%= link_to new_backoffice_collects_daily_garbage_collect_path, class: 'btn btn-success pull-right', style:"margin-top: -5px" do %>
          <i class="fa fa-plus-circle fa-fw"></i> Cadastrar
        <% end %>
      </h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Número de protocolo</th>
              <th>Motorista</th>
              <th>Coleta agendada para</th>
              <th>Rota</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @collects.each do |collect| %>
              <tr>
                <td><%= collect.protocol_number %></td>
                <td><%= collect.schedule.user.name %></td>
                <td><%= I18n.l collect.schedule.work_day, :format => :with_day_of_week, :locale => 'pt-BR' if collect.collect_date.present? %></td>
                <td><%= collect.schedule&.routes.first.title %></td>
                <td>
                  <div class="btn-group">
                    <a class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown">
                      ...
                    </a>
                    <ul class="dropdown-menu dropdown-black">
                      <div>
                        <%= link_to change_status_form_backoffice_collects_daily_garbage_collect_path(collect), remote: true do %>
                          <i class="fa fa-edit"></i> Alterar status
                        <% end %>
                      </div>
                      <div>
                        <%= link_to edit_backoffice_collects_daily_garbage_collect_path(collect) do %>
                          <i class="fa fa-edit"></i> Editar
                        <% end %>
                      </div>
                      <div>
                        <%= link_to backoffice_collects_daily_garbage_collect_path(collect), method: :delete, data: { confirm: 'Tem certeza que deseja fazer isto?' } do %>
                          <i class="fa fa-trash-o"></i> Deletar
                        <% end %>
                      </div>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="apple_pagination">
          <div class="page_info">
            <%= page_entries_info @collects %>
          </div>
          <%= will_paginate @collects, :container => false %>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="change_status" class="modal fade"></div>
