<div class="panel-body panel-table-custom">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Número de protocolo</th>
          <th>Solicitante</th>
          <th>Data da solicitação</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @collects.requested.each do |collect| %>
          <tr>
            <td><%= collect.protocol_number %></td>
            <td><%= collect.client.name %></td>
            <td><%= I18n.l collect.created_at.localtime, :format => :with_day_of_week, :locale => 'pt-BR' %></td>
            <td><%= t("enums.collects.status.#{collect.status}") %></td>
            <td>
              <div class="btn-group">
                <a class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown">
                  ...
                </a>
                <ul class="dropdown-menu dropdown-black">
                  <div>
                    <%= link_to edit_backoffice_collects_rubble_collect_path(collect), remote: true do %>
                      <i class="fa fa-edit"></i> Propor data para coleta
                    <% end %>
                  </div>
                  <div>
                    <%= link_to change_status_backoffice_collects_rubble_collect_path(collect), remote: true do %>
                      <i class="fa fa-edit"></i> Alterar status
                    <% end %>
                  </div>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
