<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Número de protocolo</th>
          <th>Solicitante</th>
          <th>Data da solicitação</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @collects.requested.each do |collect| %>
          <tr>
            <td><%= collect.protocol_number %></td>
            <td><%= collect.client.name %></td>
            <td><%= I18n.l collect.created_at.localtime, :format => :with_day_of_week, :locale => 'pt-BR' %></td>
            <td><%= t("enums.collects.status.#{collect.status}") %></td>
            <td>
              <%= link_to edit_backoffice_collects_rubble_collect_path(collect), remote: true, class: 'btn btn-outline btn-warning' do %>
                <i class="fa fa-edit"></i> Propor data para coleta
              <% end %>
            </td>
            <td>
              <%= link_to change_status_backoffice_collects_rubble_collect_path(collect), remote: true, class: 'btn btn-outline btn-warning' do %>
                <i class="fa fa-edit"></i> Alterar status
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
