<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Infrações
      <button type="button" name="button" class="btn btn-warning pull-right" onclick="getLocation();">
        Ordernar por distância
      </button>
    </h4>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Número de protocolo</th>
            <th>Supervisor</th>
            <th>Tipo da infração</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Endereço</th>
            <th>Infrator</th>
            <th></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody id="incident">
          <% @infringements.each do |infringement| %>
            <tr data-link="<%= backoffice_infringement_path(infringement) %>">
              <td><%= infringement.protocol_number %></td>
              <td><%= infringement.supervisor.name %></td>
              <td><%= t("enums.evidences.evidence_type.#{infringement.evidence_type}") %></td>
              <td><%= infringement.description %></td>
              <td><%= I18n.l infringement.created_at.localtime, :format => :with_day_of_week, :locale => 'pt-BR' %></td>
              <td><%= infringement.full_address %></td>
              <td><%= infringement.client&.name %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Browser não suporta Geolocalização.");
    }
  }

  function showPosition(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;
    var request   = window.location.href + "?latitude=" + latitude + "&longitude=" + longitude;

    window.open(request,"_self")
  }
</script>
