<%= form_for [:backoffice, @collect] do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h4>Agenda disponível dos Caminhoneiros
          <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">×</button>
        </h4>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Caminhoneiro</th>
                <th>Agenda disponível</th>
                <th>Quantidade de coletas agendadas</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @free_schedules.each do |schedule| %>
                <tr>
                  <td><%= schedule.user.name %></td>
                  <td><%= hidden_field_tag 'collect[collect_date]', schedule.work_day %>
                      <%= I18n.l schedule.work_day, :format => :long, :locale => 'pt-BR' %></td>
                  <td><%= schedule.collects.scheduled.count %> coletas agendadas até o momento</td>
                  <td><%= f.radio_button :schedule_id, schedule.id %></td>
                <tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel-footer">
        <%= f.submit 'Enviar proposta para o cidadão', class: 'btn btn-outline btn-warning' %>
      </div>
    </div>
  </div>
<% end %>
