<% unless notice.nil? %>
  <div class="alert alert-success">
    <a href="#" class="alert-link"><%= notice %></a>
  </div>
<% end %>
<br/>

<div class="col-lg-12">
  <h1 class="page-header">MODULO INVENTÁRIO</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Caminhoneiros
        <%= link_to new_backoffice_truck_path, class: 'btn btn-outline btn-success pull-right', style:"margin-top: -5px" do %>
          <i class="fa fa-plus-square fa-fw"></i> Cadastrar
        <% end %>
      </h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Ano</th>
              <th>Cor</th>
              <th>Placa</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @trucks.each do |truck| %>
              <tr>
                <td><%= truck.brand %></td>
                <td><%= truck.model %></td>
                <td><%= truck.manufacture_year %></td>
                <td><%= truck.color %></td>
                <td><%= truck.plate_number %></td>
                <td>
                  <div class="pull-right">
                    <%= link_to edit_backoffice_truck_path(truck), class: 'btn btn-outline btn-warning' do %>
                      <i class="fa fa-edit"></i> Editar
                    <% end %>

                    <%= link_to backoffice_truck_path(truck), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Ao confirmar esta operação será perdido definitivamente a agenda e os dados deste caminhoneiro. Tem certeza que deseja fazer isto?' } do %>
                        <i class="fa fa-times"></i> Deletar
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
